%table{width: "100%"}
  %tbody
    - product.each do |product|
      %tr{width: "100%"}
        %td{width: "50%"}
          %span{:style => "color: green"}
            %strong #{product.name}
        %td
          %span{:style => "color: red"} #{number_with_delimiter product.price}
        = form_for order_item, url: order_items_path do |f| 
          %td{width: "30%"}
            %input{type: "text", name: "order_item[quantity]", style: "width: 40px", value: 1}
            %input{type: "hidden", name: "tab", value: tab}
          %td{width: "10%"}
            %input{:name => "order_item[product_id]", value: product.id, type: "hidden"}
            = f.submit "Thêm", name: "add", style: "height: 28px"
