%link{:href => "/assets/bootstrap.css", :rel => "stylesheet"}/
%script{:src => "/assets/jquery-1.10.2.js", :type => "text/javascript"}
:css
  .frame {
    height: 350px;
    overflow: auto;
  }
  .frame_right {
    padding: 5px;
    height: 580px;
    overflow: auto;
  }
  #product_detail tr td{
    border:1px solid #E5E6E7;
    border-style: dotted solid dashed double;
  }
  #product_detail_header tr td{
    border-right:1px solid #E5E6E7;
  }
  #print{
  font-weight: bold;
  color: red
  }
%script{:src => "/assets/bootstrap.js"}
#printer.simple-layout-center
  #module_505
    %span{:style => "display:none"}
      %span#mi_table_sample
        %span{:id => "input_group_#xxxx#"}
    #mask
    %div{:style => "padding:0px;"}
      .title{:style => "text-align:center;"} THÔNG TIN ĐẶT BÀN
      %div
        - if current_table.orders.last.try(:status) == 'wait'
          %div{:style => "float:left; line-height:25px; padding-left:10px;width:50%;"}
            = "Ngày tạo " + current_order.created_at.strftime("%d/%m/%Y - %H:%M").to_s
            %br/
      %table#table_bound{:border => "1", :bordercolor => "#A6A6A6", :cellpadding => "2", :width => "100%"}
        %tbody
          - if current_table.orders.last.try(:status) == 'wait'
            %tr
              %td#hidden_expan.info-left{:style => "background:#F5F3F3;", colspan: "2"}
                %table#product_detail_header{:style => "width:100%; background-color: rgb(218, 218, 218);"}
                  %tbody
                    %tr{height: "30px"}
                      %td{:align => "center", :width => "28px"} Xóa
                      %td{:align => "center", :width => "28px"} TT
                      %td{:align => "center", :width => "162px"} Tên sản phẩm
                      %td{:align => "center", :width => "52px"} Đơn vị
                      %td{:align => "center", :width => "42px"} SL
                      %td{:align => "center", :width => "70px"} Giá
                      %td{:align => "center", :width => "80px"} Tổng tiền
                      %td{align: "center", style: "border-right:none"}
                        - if current_order.order_items.present?
                          #print
                            = link_to 'IN HÓA ĐƠN', report_bill_path(id: current_order.id), :target => "_blank"
                #foot_drink_bound.selected-foot-and-drink-table{:style => "width:100%"}
                  .frame
                    %table#product_detail{:width => "100%"}
                      %tbody
                      - i = 1
                      - @order_items.each do |t|
                        %tr
                          - product = Product.where(id: t.product.id).first
                          %td{:align => "center", width: "25px"}
                            = link_to t, url: order_item_path, method: :delete do
                              = image_tag '/assets/delete.gif'
                          %td{:align => "center", width: "26px"}
                            = i
                            - i = i + 1
                          %td{width: "160px"}
                            = product.name
                          %td{:width => "50px"}
                            = product.unit
                          %td{:align => "right", :width => "40px"}
                            - if product.id == 36 || product.id == 37
                              - a = (t.quantity * 60).divmod(60)[0]
                              - b = (t.quantity * 60).divmod(60)[1].round
                              = "#{a}h#{b}'"
                            - elsif t.quantity.divmod(1)[0] == t.quantity
                              = t.quantity.round
                            - else
                              = t.quantity
                          %td{:align => "right", :width => "68px"}
                            = number_with_delimiter(product.price)
                          %td{:align => "right", :width => "78px"}
                            = number_with_delimiter(t.total_price.round)
                          %td{:align => "right"}
                            - if product.id != 36 && product.id != 37
                              = form_for @order_item, url: order_items_path do |f|
                                %input{:name => "order_item[product_id]", value: product.id, type: "hidden"}
                                %input{type: "text", name: "order_item[quantity]", style: "width: 40px;height:14px", value: 1}
                                = f.submit "Thêm", name: "add", style: "height: 20px"
                                = f.submit "Trả", name: "cut_down", style: "height: 20px"
                  #show_detail
                %input#items_id{:name => "items_id", :type => "hidden", :value => ""}/
              %td#expan_display.info-right{rowspan: "2",}
                #content
                  %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
                    %li{:class => ('active' if session['tab'] == 'tc')}
                      %a{"data-toggle" => "tab", :href => "#tc"} Tìm Kiếm
                    %li{:class => ('active' if session['tab'] == 'du')}
                      %a{"data-toggle" => "tab", :href => "#du"} Đồ Uống
                    %li{:class => ('active' if session['tab'] == 'da')}
                      %a{"data-toggle" => "tab", :href => "#da"} Đồ Ăn
                    %li{:class => ('active' if session['tab'] == 'dv')}
                      %a{"data-toggle" => "tab", :href => "#dv"} Dịch Vụ
                  #my-tab-content.tab-content
                    #tc{:class => "tab-pane #{'active' if session['tab'] == 'tc'}"}
                      .title
                        = form_tag quanly_path, method: "get" do
                          %input{:type => "text", style: "width: 239px", name: "product_search", :value => ""}/
                          = submit_tag "Tìm Kiếm", id: "search_product", style: "height: 28px"
                      .frame_right
                        #products_row
                          = render "product_row", product: @products, order_item: @order_item, tab: "tc"
                    #du{:class => "tab-pane #{'active' if session['tab'] == 'du'}"}
                      .frame_right
                        = render "product_row", product: @du_products, order_item: @order_item, tab: "du"
                    #da{:class => "tab-pane #{'active' if session['tab'] == 'da'}"}
                      .frame_right
                        = render "product_row", product: @da_products, order_item: @order_item, tab: "da"
                    #dv{:class => "tab-pane #{'active' if session['tab'] == 'dv'}"}
                      .frame_right
                        = render "product_row", product: @service_products, order_item: @order_item, tab: "dv"
                #post_show
                #show_food_drink
          %tr
            = form_for @order_new, url: orders_path do |f|
              %td#hidden_expan.info-left
                %fieldset{:style => "text-align:left; margin-bottom:10px;"}
                  %legend.title
                    %img{:align => "top", :height => "20", :src => "/assets/customer_icon.jpg", :width => "15"}>/
                    \&nbsp;Thông tin khách
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tbody
                      %tr
                        %td Khách hàng
                        %td
                          %input{:name => "order[customer_name]", :type => "text", :value => @order.try(:customer_name), required: true}/
                      %tr
                        %td{height: "10"}
                      %tr
                        %td Số lượng người
                        %td
                          %input{:name => "order[customer_number]", :type => "text", :value => @order.try(:customer_number), required: true}/
                          %input.general{type: "hidden", name: "order[user_id]", value: current_user.id}/
                      %tr
                        %td{height: "10"}
                      %tr
                        %td Số bàn
                        %td
                          %input{:readonly => "readonly", :type => "text", value: current_table.name}>/
                      %tr
                        %td{height: "10"}
                      %tr
                        %td Ghi chú
                        %td
                          %input{name: "order[noted]", :type => "text", value: @order.try(:noted)}>/
                      %tr
                        %td{height: "10"}
                  - if @table.status == 'open' && @table.karaoke == true
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td{height: "5"}
                        %tr
                          %td{:align => "center"} Giờ Vào
                          %td{:align => "center"} Giờ Ra
                        %tr
                          %td{height: "10"}
                        %tr
                          %td{:align => "center"}
                            - a = @order.try(:giovao).split(":")[0] + "h"
                            - b = @order.try(:giovao).split(":")[1]
                            = select_tag :start_hour, options_for_select(("0".."23").map { |x| [x + "h"] }, selected: a), class: "select-box"
                            = select_tag :start_min, options_for_select(("00".."59").map { |x| [x] }, selected: b), class: "select-box"
                          %td{:align => "center"}
                            - c = @order.try(:giora).split(":")[0] + "h"
                            - d = @order.try(:giora).split(":")[1]
                            = select_tag :end_hour, options_for_select(("0".."23").map { |x| [x + "h"] }, selected: c), class: "select-box"
                            = select_tag :end_min, options_for_select(("00".."59").map { |x| [x] }, selected: d), class: "select-box"
                          %tr
                            %td{height: "15"}
                  - if @table.status == 'closed'
                    %div{style: "text-align: right; margin: 0px 2px 10px 0px"}
                      = f.submit 'CHECKIN', name: "checkin"
                - if current_table.orders.last.try(:status) == 'wait' && current_table.karaoke == false
                  %fieldset{:style => "text-align:left; margin-bottom:10px;"}
                    %legend.title
                      %img{:align => "top", :height => "20", :src => "/assets/customer_icon.jpg", :width => "15"}>/
                      \&nbsp;TỔNG TIỀN
                    %div{style: "text-align: center"}
                      %h1{style: "margin: 0px 0px 7px 0px"}
                        = number_with_delimiter(@order.final_total, delimiter: ".")
                        %span{style: "color:red;font-size: 24px"} VNĐ
              - if current_table.orders.last.try(:status) == 'wait'
                %td#hidden_expan.info-left
                  %fieldset{:style => "text-align:left; margin-bottom:10px;"}
                    %legend.title
                      %img{:align => "top", :height => "20", :src => "/assets/customer_icon.jpg", :width => "15"}>/
                      \&nbsp;Tổng kết
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td{width: "25"}
                          %td Tổng
                          %td{:align => "right"}
                            %input.general{:maxlength => "200", :name => "total_payment", :readonly => "readonly", :type => "text", value: number_with_delimiter(@order.total_price.round)}>/
                          %td{:align => "right"}
                            = "VNĐ"
                        %tr
                          %td{height: "10"}
                        %tr
                          %td
                          %td Giảm giá:
                          %td{:align => "right"}
                            = select_tag :order_new, options_for_select(Settings.select_sale_off, :selected => @order.sale_off), :name => "order[sale_off]", class: "select-box"
                          %td{:align => "left"}
                            \&nbsp %
                        %tr
                          %td{height: "10"}
                        %tr
                          %td
                          %td Tổng sau giảm giá:
                          %td{:align => "right"}
                            %input.general{:readonly => "readonly", :type => "text", value: number_with_delimiter(@order.after_sale_off.round)}>/
                          %td{:align => "right"}
                            = "VNĐ"
                        %tr
                          %td{height: "10"}
                        %tr
                          %td
                          %td Thuế:
                          %td{:align => "right"}
                            %select#tax_rate.select-box{:name => "order[tax]"}
                              %option{:value => "0", selected: @order.tax == 0} 0
                              %option{:value => "10", selected: @order.tax == 10} 10
                          %td{:align => "left"}
                            \&nbsp %
                        %tr
                          %td{height: "10"}
                        %tr
                          %td
                          %td Tổng hóa đơn:
                          %td{:align => "right"}
                            %input.general{:style => "font-weight: bold;", :readonly => "readonly", :type => "text", value: number_with_delimiter(@order.final_total)}>/
                          %td{:align => "right"}
                            = "VNĐ"
                        %tr
                          %td
                          %td
                          %td{:align => "right"}
                            %div{style: "text-align: right; margin: 15px 0px 10px 0px"}
                              = f.submit 'LƯU', name: "save"
                              = f.submit 'THANH TOÁN XONG', name: "checkout"
          %tr