#printer.simple-layout-center
  #module_472
    .product-supplier-bound
      .content
        .search-box
          %fieldset
            %legend.title Thay đổi mật khẩu
            %table
              %tbody
                = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                  = devise_error_messages!
                  %tr
                    %td
                      = "Tên"
                    %td
                      %input#user_name{type: "text", name: "user[name]", value: current_user.name, size: "30"}
                    %td
                  %tr
                    %td
                      = f.label :email
                    %td
                      %input#user_email{type: "email", name: "user[email]", value: current_user.email, style: "height: 22px", size: "30"}
                    %td
                  %tr
                    %td
                      = "Mật khẩu mới"
                    %td
                      %input#user_password{type: "password", name: "user[password]", autocomplete: "off", style: "height: 22px", size: "30"}
                    %td
                      Để trống nếu không cần thay đổi
                  %tr
                    %td
                      = "Xác nhận mật khẩu mới"
                    %td
                      %input#user_password_confirmation{type: "password", name: "user[password_confirmation]", autocomplete: "off", style: "height: 22px", size: "30"}
                    %td
                      Để trống nếu không cần thay đổi
                  %tr
                    %td
                      = "Mật khẩu hiện tại"
                    %td
                      %input#user_current_password{type: "password", name: "user[current_password]", autocomplete: "off", style: "height: 22px", size: "30"}
                  %tr
                    %td
                    %td{align: "right"}
                      = f.submit "Thay đổi"
                    %td
