:css
  a.room,a.room:visited{
    height:60px;
    width:60px;
    background:url("/assets/table.png") no-repeat 0 100%;
  }
  a.room.OCCUPIED,a.room.OCCUPIED:visited{
    height:60px;
    width:60px;
    border:3px solid #FFF;
    border-top:3px solid #FC0;
  }
  a.room.BOOKED,a.room.BOOKED:visited{
    height:60px;
    width:60px;
    background-color:#E6F1FF;
    border:3px solid #FFF;
    border-top:3px solid #09F;
  }
  a.room.AVAILABLE,a.room.AVAILABLE:visited{
    border:3px solid #FFF;
  }
  .room-bound{
    border:3px solid #FFF;
  }
  .extra-info-bound{
    float:left;
    width:10px;
    height:75px;
    overflow:hidden;
  }
  .small-room{
    float:left;
    width:6px;
  }
  .small-room.checkout{
    background:#FF99CC;
    border:1px solid #FF0099;
    height:6px;
    margin:1px;
  }
