#printer.simple-layout-center
  #module_321
    = render 'css'
    %div{:style => "padding:5px;"}
      %form{:method => "post", :name => "EditTableMapForm"}
        %table.table-bound{:border => "0", :bordercolor => "#CCCCCC", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tbody
            %tr{:height => "40"}
              %td 
                %h3 DANH SÁCH BÀN
              %td{:align => "right", :width => "50%"}
        %br/
        %table{:border => "0", :bordercolor => "#CCCCCC", :cellpadding => "2", :cellspacing => "0", :frame => "hsides", :rules => "rows", :width => "100%"}
          %tbody
            %tr
              %td{:nowrap => "nowrap", :valign => "top", :width => "80px"}
                %b BÀN
              %td{:width => "90%"}
                - @tables.each do |t|
                  - @number_customer = Order.where(quanly_id: t.id, status: 'wait').first
                  - if t.status == 'closed' 
                    .room-bound
                      %a.room.AVAILABLE{:href => quanly_path(t)}
                        %span{:style => "font-size:10px;font-weight:bold;color:#039"} #{t.name}
                        %br/
                        %span{:style => "font-size:9px;font-weight:normal;"}
                      .extra-info-bound
                  - else
                    .room-bound
                      %a.room.OCCUPIED{:href => quanly_path(t)}
                        %span{:style => "font-size:9px;font-weight:bold;color:#039"} #{t.name}
                        %br/
                        - if @number_customer.customer_number.present?
                          %span{:style => "font-size:10px;font-weight:normal;"} #{@number_customer.customer_number.to_s + " người"}
                        %br
                        %span{:style => "font-size:10px;font-weight:normal;"} #{@number_customer.customer_name}
                      .extra-info-bound
            %tr
              %td{:nowrap => "nowrap", :valign => "top", :width => "80px"}
                %b Phòng Hát
              %td{:width => "90%"}
                - @rooms.each do |t|
                  - @number_customer = Order.where(quanly_id: t.id, status: 'wait').first
                  - if t.status == 'closed' 
                    .room-bound
                      %a.room.AVAILABLE{:href => quanly_path(t)}
                        %span{:style => "font-size:10px;font-weight:bold;color:#039"} #{t.name}
                        %br/
                        %span{:style => "font-size:9px;font-weight:normal;"}
                      .extra-info-bound
                  - else
                    .room-bound
                      %a.room.OCCUPIED{:href => quanly_path(t)}
                        %span{:style => "font-size:9px;font-weight:bold;color:#039"} #{t.name}
                        %br/
                        - if @number_customer.customer_number.present?
                          %span{:style => "font-size:10px;font-weight:normal;"} #{@number_customer.customer_number.to_s + " người"}
                        %br
                        %span{:style => "font-size:10px;font-weight:normal;"} #{@number_customer.customer_name}
                      .extra-info-bound