#printer.simple-layout-center
  #module_505
    %span{:style => "display:none"}
      %span#mi_table_sample
        %span{:id => "input_group_#xxxx#"}
    %form{:method => "post", :name => "TouchBarRestaurantForm"}
      #mask
      %div{:style => "padding:0px;"}
        .title{:style => "text-align:center;"} THÔNG TIN ĐẶT BÀN
        %div
          %div{:style => "float:left; line-height:25px; padding-left:10px;width:50%;"}
            Ngày tạo: &nbsp;01/12/2014
            %br/
          %div{:style => "float:right; width:40%;margin-right:0px;text-align:right;"}
        %table#table_bound{:border => "1", :bordercolor => "#A6A6A6", :cellpadding => "2", :width => "100%"}
          %tbody
            %tr
            %tr
              %td#hidden_expan.info-left{:height => "180"}
                .info
                  %b Thông tin chung
                %fieldset{:style => "text-align:left; margin-bottom:10px;"}
                  = form_for @order do |f|
                    %legend.title
                      %img{:align => "top", :height => "20", :src => "/assets/customer_icon.jpg", :width => "15"}>/
                      \&nbsp;Nhap ten khach
                    %table{:cellpadding => "5", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td % Khach hang:
                          %td
                            %input{name: "order[table_id]", value: current_table.id, type: 'hidden'}
                            %input#discount_percent.general{:maxlength => "3", :name => "order[sale_off]", :type => "text", :value => ''}>/
                        %tr
                          %td
                    = f.submit 'Checkin'
