:css
  p.text-gt{
    margin: 0 0 0 90px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
%body#login
  #login-wrapper.png_bg
    #login-top
    #login-content
      #login-inner
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %p
            %label Username
          .input.text
            %label{:for => "user_email"}
            %input#user_email.text-input{:name => "user[email]", :type => "text"}/
          .clear
          %p
            %label Password
          .input.password
            %label{:for => "user_password"}
            %input#user_password.text-input{:name => "user[password]", :type => "password"}/
          .clear
          .clear
          %p
            %input.button{:type => "submit", :value => "Sign In"}/
        .clear
      %p.text-gt
        = "Phần mềm quản lý nhà hàng Hoàng Châu v1.0"
        %p{style: "margin-left: 100px;margin-top:0px"}
          Phát triển bởi
          %a{:href => "http://facebook.com/atrongcanh", :rel => "nofollow", :target => "_blank"} Hoàng Nguyễn 
          Support 24/5