/*-----------Common-------------------*/
body *{outline:none;}
body,table{font: 11px arial;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;color:#000000;}
span,div,pre,a,code, tr{font-size:12px;line-height:15px;color:#000000;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
td,input,select{font-size:12px;color:#000000;}
a {color:#003399;text-decoration:none;cursor:pointer;}
a:visited{color:#999999;text-decoration:none;cursor:pointer;}
a:hover,a:visited:hover{color:#039;text-decoration:underline;}
form{margin:0;display:inline;padding:0px;}
ul{margin:0;padding:0;}
img{border:0px;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.multi-item-wrapper{margin:0px;padding:0px;text-align:left;}
.multi-input-header{float:left;background:url(../images/bg_arrcordion.png);height:15px; font-weight:bold;font-size:11px; border:1px solid #CCC;padding:1px;margin:0px 1px 2px 0px;}
.multi-input-header span,
.multi_edit_input_header span{display:inline-block;}
.multi-input{padding:0px;marging:0px;margin-right:1px;float:left;}
.multi-input input{marging:0px;padding:0px;line-height:15px;font-size:11px;}
input.normal-input{	border:2px solid white;	width:100%;}
.normal-input-text{border:2px solid white;	width:100%;padding:3px 0px 4px 3px;}
.normal-input{border:2px solid #FFFFFF;width:100%;}
.selected-input{border:2px solid black;width:100%;}
label{cursor:pointer;}
form{margin:0;display:inline;padding:0px;}
.main-title{font-size:18px;font-weight:bold;line-height:30px;margin-left:20px;text-transform:uppercase;color:#333333;}
.title{font-size:14px;font-weight:bold;line-height:30px;color:#0066CC;}
fieldset{padding:5px;text-align:left;border:1px solid #C6E2FF;}
#error_messages_content1 li{margin-left:20px;#margin-left:10px;}
.error-notice{font-weight:bold;color:#F00;text-transform:uppercase;font-size:11px;}
.error-notice.link{text-transform:none;color:#03C;font-weight:normal;border-bottom:1px dotted #CCC;line-height:20px;}
/*load ding*/
#loading-layer{	background:#FF8B00;color:white;font-size:100%;position:fixed;z-index:10;padding: 6px;top: 0px;right: 0px;margin:0px}
* html #loading-layer{	position:absolute;top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat')? documentElement.scrollTop : document.body.scrollTop)}
#loading div{color:#FFFFFF;font-weight:bold;}
/*------------TABLE-------------------*/
table{border-collapse:collapse;}
.table-title{font-weight:bold;}
.table-header{font-size:11px;font-weight:bold;color:#000066;background:url(../../../../hotel/skins/default/images/reservation_bg.jpg) 0% 0% repeat-x;}
.table-bound{	}
.table-banner-bound{border-collapse:collapse;background-color:#E6E6E6;}
.category-group{background:url(../images/buttons/add.jpg) no-repeat 5px 50%;background-color:#FF9;border-top:1px solid #FC0;border-bottom:1px solid #FC0; text-transform:uppercase;color:#000;padding-left:25px;}
/*-----------/TABLE-------------------*/
.form-title{font-size:14px;font-weight:bold;background:url(../images/list_icon.png) no-repeat 1% 50%;text-indent:45px;text-transform:uppercase;vertical-align:middle;}
.form-title-button{	text-align:center;width:1%;white-space:nowrap;}
TH.report_table_header
{	background-color:#EBE9ED;}
input.view-order-button,a.view-order-button{font-weight:bold; border:0px;padding-right:5px;min-width:20px;height:20px;line-height:20px;text-align:left;color:#FF6600;background:url(../images/buttons/order.png) no-repeat 2px 50%; background-color:none;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
input.print-order-button,a.print-order-button{font-weight:bold; border:0px;padding-right:5px;min-width:20px;height:20px;line-height:20px;text-align:left;color:#FF6600;background:url(../images/small-printer.png) no-repeat 2px 50%; background-color:none;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
a.view-order-button{height:16px;padding:2px 2px 0px 5px;}
/*------------Medium button-------------------*/
input.button-medium,a.button-medium{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background-color:#E5E5E5;display:block;min-width:80px;height:22px;padding-top:2px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;cursor:pointer;}
.button-medium.search{background:url(../images/buttons/search.gif) no-repeat 5% 30%;background-color:#E5E5E5;text-indent:25px;}
a.button-medium{height:18px;padding:2px 2px 0px 5px; white-space:nowrap;}
input.button-medium-add,a.button-medium-add{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/add_button.gif) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;padding-top:2px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none; text-indent:20px;cursor:pointer;}
a.button-medium-add{height:18px;padding:2px 2px 0px 5px; white-space:nowrap;}
input.button-medium-edit,a.button-medium-edit{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/save.jpg) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
a.button-medium-edit{	height:18px;padding:2px 2px 0px 5px;}
input.button-medium-delete,a.button-medium-delete{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/delete.gif) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
a.button-medium-delete{	height:18px;padding:2px 20px 0px 5px;}
input.button-medium-save,a.button-medium-save{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/save.jpg) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
a.button-medium-save{	height:18px;padding:2px 2px 0px 5px;}
input.button-medium-save.stay,a.button-medium-save.stay{
	background:url(../images/buttons/save_and_stay.jpg) no-repeat 5% 50%;
}
input.button-medium-email,a.button-medium-email{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/email.png) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:90px;height:22px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
a.button-medium-email{	height:18px;padding:2px 2px 0px 5px;}
a.button-medium-back,input.button-medium-back{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/left.jpg) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;text-align:left;color:#0A366B;font-size:11px;font-weight:bold;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
a.button-medium-back{	height:18px;padding:2px 2px 0px 5px;}
a.button-medium-export{	border:1px solid #FFAE5E;display:block;width:120px;height:20px;line-height:19px;text-align:center;color:#000000;font-weight:bold;margin-left:2px;margin-right:2px;float:left;text-decoration:none;background:url(../../../../cms/skins/default/images/admin/mnu_settings.gif) no-repeat 5% 100%;text-indent:20px;cursor:pointer;}
a.button-medium.fullscreen,input.button-medium.fullscreen{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/fullscreen.gif) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
a.button-medium.fullscreen{	height:18px;padding:2px 2px 0px 5px;}
a.button-medium.checkin,input.button-medium.checkin{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/checkin.png) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:20px;cursor:pointer;}
a.button-medium.checkin{	height:18px;padding:2px 2px 0px 5px;}
a.button-medium.booked,input.button-medium.booked{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/booked.png) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:23px;cursor:pointer;}
a.button-medium.booked{	height:18px;padding:2px 2px 0px 5px;}
a.button-medium.payment,input.button-medium.payment{color:#0A366B;font-size:11px;font-weight:bold;border:1px solid #EFEFEF;border-bottom:2px solid #999;border-right:2px solid #999;background:url(../images/buttons/rate.jpg) no-repeat 5% 50%;background-color:#E5E5E5;display:block;min-width:80px;height:22px;text-align:left;margin-left:2px;margin-right:2px;float:left;text-decoration:none;text-indent:23px;cursor:pointer;}
a.button-medium.payment{	height:18px;padding:2px 2px 0px 5px;}
/*------------Touch Button-------------------*/
.touch-button div{
	background:url(/newwaysv2/hongngoc.tcv.vn/packages/hotel/skins/default/images/iosstyle/number_button_bg.png);
}
/*-----------------------------------------------------------*/
input.big{font-size:16px;font-weight:bold;height:40px;}
/*-----------------------------------------------------------*/

.paging-bound{	margin-top:5px;margin-bottom:5px;}
.paging-bound span,
.paging-bound font,
.paging-bound a,
.paging-bound a:visited{	padding:1px 2px 1px 2px;display:inline-block;border:1px solid #FFFFFF;background-color:#D1D1D1;color:#000000;}
.paging-bound span{	margin-right:5px;background-color:#FF9900;color:#FFFFFF;border:1px solid #FFFFFF;}
.paging-bound font{	background-color:#FF9900;text-decoration:underline;color:#FFFFFF;border:1px solid #FFFFFF;}
.paging-bound a,
.paging-bound a:visited,
.paging-bound a:hover,
.paging-bound a:visited:hover{	border:1px solid #FFFFFF;text-decoration:none;}
.paging-bound a:hover,
.paging-bound a:visited:hover{	text-decoration:none;background-color:#FF9900;color:#FFFFFF;}
@page port {size: portrait;}
@page land {size: landscape;}
.global-tab{	float:left;width:100%;}
.global-tab .header{	padding-top:5px;width:100%;float:left;}
.global-tab .header a{	border:1px solid #0482FF;float:left;margin-right:1px;background:#46A3FF;padding:2px 5px 2px 5px;border-bottom:0px;color:#FFFFFF;font-size:12px;}
.global-tab .header a.selected{	border:1px solid #CCCCCC;border-bottom:0px;font-weight:bold;background:#FFFFFF;color:#144686;}
.global-tab .body{	border:1px solid #CCCCCC;width:100%;float:left;padding:5px;display:inline-table;}
.simple-layout-bound{ float:left;width:100%;background:#999999;text-align:center;min-height:800px;}
.simple-layout-middle{	margin:0px auto;width:980px;}
.simple-layout-content{	float:left;text-align:left;width:100%;min-height:800px;padding:0px;border-left:5px solid #CCCCCC;border-right:5px solid #CCCCCC;border-bottom:5px solid #D5E9FD;background-color:#FFFFFF;}
.row-even{	background:#E8F3FF;border-bottom:1px solid #D9ECFF;}
.row-odd{border-bottom:1px solid #CCE4FF;background:#FFFFFF;}
.date-input{width:66px;border:1px solid #CCCCCC;border-bottom:2px solid #CCCCCC;border-right:2px solid #CCCCCC;}
.note{color:#333333;font-style:italic;font-size:11px;}
.price{text-align:right;}
.hidden{display:none;}
.div-footer{padding:5px;border-top:1px dotted #CCCCCC;margin-top:50px;color:#CCCCCC;}
.div-footer div{color:#999999;text-align:right}