<!--new-->
.main-menu-bound .menu a:link,.main-menu-bound .menu a:visited,
.main-menu-bound .menu a:hover,.main-menu-bound .menu a:visited:hover{
	color:#FFFFFF;
	text-decoration:none;
}
<!--new-->
.hotel-banner{
}
.clear-both
{
	clear:both;
}
.icon-32-new {
background-image: url("/assets/icon-32-new.png");
}
.main-menu-bound{
	overflow:hidden;
	border:0px;
	padding:0px;
	height:25px;
}
.main-menu-bound .menu{
	height:25px;
	line-height:25px;
	padding:1px;
	color: #FFFFFF;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	background:url("/assets/bg_menu.png") repeat-x 100% 50%;	
}
#root-menu-div ul {
	border: 1px solid #CCCCCC;
	overflow: visible;
}
#root-menu-div li{
	white-space:nowrap;
}
* html #root-menu-div li{
	height: 1.2em; /* fixing ie6 problem */
}
ul.menu,
#root-menu-div ul {
    position: relative;
    z-index : 20;
	background-color:#EFEFEF;
	list-style: none;
	margin: 0;
	padding:2px 2px 2px 2px;
}
#root-menu-div div{
    z-index : 20;
}
li.active{
	
}
#root-menu-div li.active a:link,#root-menu-div li.active a:visited,
#root-menu-div li.active a:hover,#root-menu-div li.active a:visited:hover {
	color: #000000;
	text-decoration:none;
	display:block;
}
li.menumain {
	float: left;
	padding: 2px 5px 2px 5px;
	height:25px;
	line-height:20px;
	cursor:pointer;
	margin-right:1px;
}
li.activetarget{
}
* html div.menu-item {
}
#root-menu-div li a:link,
#root-menu-div li a:visited,
#root-menu-div li a:hover,
#root-menu-div li a:visited:hover {
	color: #000000;
	line-height:20px;
	_line-height:15px;
	vertical-align:middle;		
	display:block;
	padding:0px 5px 0px 0px;
	_padding:3px 5px 3px 0px;
	width:100%;
	text-decoration:none;
}
div.menu-item {
	padding: 1px 10px 1px 4px;
}
img.menu-item-arrow{
	position: absolute;
	right: 4px;
	top: 8px;
}
li.menu-separator{
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	font-size: 0px; /* for ie */
	overflow:hidden;
	height: 0px;
	line-height: 0px; /* for ie */
	margin:5px 3px 5px 3px;	
}
li.menu-separator.active{
}

li.red {
	color: red;
}
li.blue {
	color: blue;
}
.img{
	height:15px;
	float:left;
	margin-top:2px;
	margin-bottom:2px;
	margin-right:2px;
}
/*---------extra------------*/

.sign-in{
	background:url(../../../../core/skins/default/images/user.png) no-repeat 1% 50%;
	position:absolute;
	top:50px;
	width:320px;
	line-height:25px;
	padding:2px;
	text-indent:15px;
	padding:5px 5px 5px 5px;
}
.sign-in a,.sign-in a:visited{
	font-size:11px;
	color:#0033CC;
	font-weight:bold;
	text-align:left;
}
a.log-out,a.log-out:visited{
	color:#FF0000;
}