.info-left{
	vertical-align:top;	
	border-left:1px solid #EDEDED;
}
.info-right{
	width:315px;
	vertical-align:top;	
	border-left:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
}
.web-dialog{
	display: none;
	float:left;
	position: fixed;
	width: 380px;
	top: 40%;
	left: 50%;
	margin-left: -190px;
	margin-top: -100px;	
	background-color: #EFEFEF;
	z-index: 102;
	border: 5px solid #AAAAAA;
	border-right: 5px solid #CCCCCC;
	border-left: 5px solid #CCCCCC;
}
.info{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/grey_bg.png) repeat-x 0% 100%;
	height:38px;
	line-height:36px;
	color:#666666;
	font-weight:bold;
	border-bottom:1px solid #CCCCCC;
}
.info span{
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	text-indent:5px;
}
.info a{
	line-height:36px;
	float:right;
	margin-right: 5px;
	color:#FF0000;
}
#caculator{
	width: 150px;
	height:180px;
	margin-top:10px; 
	padding:0;	
}
#caculator .button{
	font-weight:bold;
	font-size:20px;
	color:#666666;
	background:url(/../../packages/hotel/skins/default/images/iosstyle/number_button_bg.png) no-repeat 50% 50%;
	border:0px;
	width:43px;
	height:40px;
	cursor:pointer;
}
#title_food_and_drink{
	border:1px solid silver;
	margin-top:15px;	
}
#title_food_and_drink tr td{
	border:1px solid silver;	
}
#title_food_and_drink{	
}
.selected-foot-and-drink table td{
	font-size:11px;
	padding:5px 2px 5px 2px;
}
#right{
	border:1px solid silver;
	margin:0;
	padding:0;
	width:150px;	
}
.text-right{
	text-align:right;
	width:100px;	
}

.foot-drink-tr td{
	border-bottom:1px solid #E9EAEC;
	border-left:1px solid #E9EAEC;	
}
#show_detail{
}
.selected-foot-and-drink-table tr td{
	height:20px;
	padding:5px 2px 5px 2px;
	background-color:#FFFFFF;
	font-size:13px;
}
.foot-drink-tr.header td{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/item_list_bg.png) repeat-x;
}
.general-info{
	border:1px solid blackl;
	width:300px;	
	float:right;
	margin-right:20px;
	margin-top: 20px;
}
.general-info tr td{
	height:20px;
}
.selection{
	height:36px;
	width:52px;	
}
.general{
	text-align:right;
}
.text-center{
	text-align:center;
}
#alert{
	margin:10px 0px;
	margin-left:15px;
	color:red;
}
.product{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/touch_itm_bg.png) no-repeat;
	float:left;
	width:102px;
	height:115px;
	padding:5px;
	font-size:11px;
	text-align:center;
}
.category-list-item-bound{
	background:#FFFFFF;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	float:left;
	width:100%;
}
.category-list-item{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/item_category.png) no-repeat 0% 50%;
	float:left;	
	width:100px;
	height:45px;
	line-height:40px;
	margin:2px 5px 2px 0px;
	font-weight:bold;
	font-size:11px;
	text-align:center;
	cursor:pointer;
}
.category-list-item-parent{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/item_category_parent.png) no-repeat 0% 50%;
	float:left;	
	width:100px;
	height:45px;
	line-height:40px;
	margin:2px 5px 2px 0px;
	font-weight:bold;
	font-size:11px;
	text-align:center;
	cursor:pointer;
}
.category-list-item-parent:hover{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/item_category_parent_hover.png) no-repeat 0% 50%;	
}
.category-list-item:hover{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/item_category_hover.png) no-repeat 0% 50%;
}
.product span.img-bound{
	width:100%;
	height:55px;
	float:left;
}
.product span.name{
	float:left;
	font-size:10px;
	text-align:center;
}
.expan{
	float:right;
	height:28px;
	width:55px;	
}
#expan_display{
}
#product_select_expansion{
	float:left;
	width:100%;
}
.css_product_select_expansion{
	border:5px solid #E0DFE0;
	position:fixed;
	height:600px;
	background:#FFFFFF;
	overflow:auto;
	top:20px;
	left:200px;
    padding-bottom: 20px;
}
.css_foot_drink_bound{
	border:5px solid #E0DFE0;
	position:absolute;
	top:330px;

	left:200px;
	float:left;
	min-height:300px;
	background:#FFFFFF;
}
#back{
	display:none;
		
}
#mask{
	display:none;
	width:100%;
	height:1000px;
	position:absolute;
	top:0px;
	left:0px;
	float:left;
	background:#999999;
	opacity:0.7;
}
.category-list li{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/item_category.png) no-repeat 0% 50%;
	list-style:none;
	float:left;
	width:100px;
	height:40px;
	margin:5px 5px 0px 0px;
	font-weight:bold;
}
.category-list li:hover{
	background:url(/../../packages/hotel/skins/default/images/iosstyle/item_category_hover.png) no-repeat 0% 50%;
	cursor:pointer;
}
.category-list li div{
	padding:5px;
}
.select-menu-bound .title{
	padding-left:5px;
	font-size:12px;
	color:#666666;
	font-weight:normal;
	height:30px;
	background:url(/../../packages/hotel/skins/default/images/iosstyle/grey_bg.png) repeat-x 0% 100%;
	border-bottom:1px solid #DDDDDD;
	line-height:30px;
}
.select-menu-bound .body{
	background:#EFEFEF;
	padding:5px;
	height:200px;
	overflow:auto;
}
.input-text{
	width:130px;	
}
.payment-result tr{
	height:40px;	
}
input[type=text]{ 
	height:22px;
}
.select-box{
	height:28px !important;
}
#table_bound{
  overflow:auto;
}	
}