.room-bound{
	position:relative;
	border:1px solid #999999;
	margin:2px;float:left;
}
.room-name{
	float:left;
	background:url(../../../../core/skins/default/images/gradient_bg.jpg);
	color:#666666;
	font-size:11px;
	width:100%;
	border-bottom:1px solid #999999;
	text-align:center;
}
.room-item-bound{
	background:#CAE4FF;float:left;height:88px;width:10px;
	padding:2px;
	border-left:0px;
}
.room.input_class
{
	border:0px;
	border-bottom:1px dotted #000000;
	background-color:#FFFFFF;
	font-style:italic;
	font-size:12px;
	letter-spacing:1px;
}
a.room,a.room:visited{
	border:5px solid #EEEEEE;
	border-top:5px solid #CCCCCC;
	border-bottom:5px solid #CCCCCC;
	float:left;
	width:80px;
	height:80px;
	text-align:center;
	display:block;
	font-size:12px;
	padding-top:2px;
	background-color:#FFFFFF;
}
a.room:hover,a.room:visited:hover{
	background-color:#D7FFFF;
	text-decoration:none;
}
.floor-name{
	border:1px solid #CCCCCC;
}
a.room.DRAG,a.room.DRAG:visited{
	border:1px solid black;
}
a.BOOKED,a.BOOKED:visisted{
	background:#0066FF;
}
a.item_room{
	float:left;
	width:8px;height:8px;
	border:1px solid #FFFFFF;
	background:#FFFFFF;
	margin-bottom:2px;
}
a.item_room.BOOKED,a.item_room.BOOKED:visited{
	background-color:#0066FF;
}
a.room.BOOKED,a.room.BOOKED:visited{
	background-color:#FFFFFF;
	border:5px solid #0066FF;
	border-left:5px solid #75ACFF;
	border-right:5px solid #75ACFF;
}
a.room.REPAIR,a.room.REPAIR:visited{
	background-color:#CCCCCC;
	border:5px solid #111111;
	border-left:5px solid #606060;
	border-right:5px solid #606060;
}
a.room.HOUSEUSE,a.room.HOUSEUSE:visited{
	background-color:#CCCCCC;
	border:5px solid #111111;
}
a.room.OCCUPIED,a.room.OCCUPIED:visited{
	background-color:#FFFF99;
	border:5px solid #F7A204;
	border-left:5px solid #FFCC33;
	border-right:5px solid #FFCC33;
}
a.room.BUSY,a.room.BUSY:visited{
	background-color:#FFFFFF;
	border:5px solid #666666;
}
a.room.DAYUSED,a.room.DAYUSED:visited{
	background-color:#FFFF99;
	border:5px solid #FF6600;	
	border-left:5px solid #FF954F;
	border-right:5px solid #FF954F;	
}
a.room.OVERDUE,a.room.OVERDUE:visited{
	background-color:#FFD2D2;
	border:5px solid #FF0000;
	border-left:5px solid #FF7D7D;
	border-right:5px solid #FF7D7D;
}
a.item_room.OVERDUE,a.item_room.OVERDUE:visited{
	background-color:#FF0000;
}
a.item_room.OCCUPIED,a.item_room.OCCUPIED:visited{
	background-color:#FFCC33;
}
a.room.RESOVER,a.room.RESOVER:visited{
	background-color:#FFFFFF;
	border:5px solid #00BB5E;
	border-left:5px solid #2FFF97;
	border-right:5px solid #2FFF97;		
}
a.item_room.RESOVER,a.item_room.RESOVER:visited{
	background-color:#0066FF;
}
a.room.SHORT_TERM,a.room.SHORT_TERM:visited
{
	background-color:#EBEADC;
	border:5px solid #EBEADC;
}
a.room.CHECKOUT,a.room.CHECKOUT:visited
{
	border:5px solid #FC9;
	border-top:5px solid #F99;
	border-bottom:5px solid #F99;
}
a.room.PREPARE_FOR_CHECKOUT,a.room.PREPARE_FOR_CHECKOUT:visited
{
	border:5px solid #D500D5;
	border-left:5px solid #FF66FF;
	border-right:5px solid #FF66FF;
}
a.item_room.PREPARE_FOR_CHECKOUT,a.item_room.PREPARE_FOR_CHECKOUT:visited{
	background-color:#F99;
}
a.item_room.CHECKOUT,a.item_room.CHECKOUT:visited{
	background-color:#FF66FF;
}
a.room.selected,a.room.selected:visited{
	border-left:5px solid #FF99CC;
	border-right:5px solid #FF99CC;
}
.room.arround
{
	border:1px solid #CCCCCC;
	z-index:-1;
	background:#FFFFFF;
}


.label{
	background-color:#FFFFFF;
	width:100px;
	overflow:hidden;
}
.value{
	background-color:#FFFFFF;
	width:180px;
}
a.room.map
{
	display:block;
	color:#5D5959;
	background-color:#FFFFFF;
	border-bottom:1px solid #D1DBDC;
	width:100%;
	line-height:24px;
	font-size:11px;
	text-indent:10px;
	font-weight:bold;
	text-align:left;
}
a.room.map:hover
{
	color:#000000;
	font-size:11px;
	background-color:#EFEEEE;
}
.hk-status-button{
	font-size:11px;
}
.room-map-customer-search-box{
	background:url(../../../../core/skins/default/images/buttons/search.gif) no-repeat 0% 0%;
	background-color:#FFFFCC;
	border:1px solid #CCCCCC;
}
.room-map-edit-link{
	 font-weight:normal;
	 font-size:11px;
	 color:#FF0000;
}
.room-map-bill-number{
	font-weight:bold;
	color:#FF0000;
	font-size:10px;
}
#information_bar{
	position:absolute;
	top:0px;
	left:0px;
	float:left;
	border:1px solid #FF3300;
	display:none;
	background-color:#EFEFEF;
	z-index:1;
}
#information_bar .title{
	background-color:#FFCC00;		
	border-bottom:1px solid #FF3300;
	height:20px;
}
#information_bar .title div{
	float:left;
	color:#000000;
	height:20px;
	line-height:20px;
}
#information_bar .title div div{
	width:18px;
	padding-top:2px;
	border:0px;
	height:18px;
}
#information_bar .content{
	clear:both;
}
#information_bar table td{
	border-bottom:1px dotted #CCCCCC;
}
#information_bar h3{
	margin-bottom:0px;
}
.checkin-today{
	color:#0033FF;
}
.room-foc{
	font-size:10px;
	color:#FF0000;
}
.room-info-content{
	background:#FFFFFF;
}
.full_screen{
	position:absolute;
	top:0px;
	left:0px;
	float:left;
	width:99%;
	background-color:#FFF;
	border:2px solid #F00;
}