#printer.simple-layout-center
  #module_472
    .product-supplier-bound
      %table.table-bound{:border => "0", :bordercolor => "#CCCCCC", :cellpadding => "15", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td.form-title Cập nhật giá hàng hóa, sản phẩm
            %td{:align => "right", :nowrap => "nowrap", :width => "1%"}
              = link_to "Thêm mới sản phẩm", new_product_path
    .content
      .search-box
        %fieldset
          %legend.title Tìm kiếm
          = form_tag products_path, method: "get" do
            = text_field_tag :product_search
            = submit_tag :Search, name: nil
      %br
    %fieldset
      %table{:border => "1", :bordercolor => "#CCCCCC", :cellpadding => "3", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr{:bgcolor => "#F1F1F1"}
            %th{:width => "1%"} STT
            %th{:align => "center", :width => "20%"} Sản phẩm
            %th{:align => "center", :width => "7%"} Danh mục
            %th{:align => "center", :width => "7%"} Đơn vị
            %th{:align => "center", :width => "7%"} Giá
            %th{:align => "center",:width => "5%"} Hành động
          - i = 1
          - @products.each do |t|
            %tr
              %td{:align => "center"}
                = i
                - i = i + 1
              %td{:style => "cursor:pointer;"}
                = t.name
              %td
                - category = Category.where(id: t.category_id).first
                = category.name
              %td{:style => "cursor:pointer;"}
                = t.unit
              %td{:align => "right", :style => "cursor:pointer;"}
                = number_with_delimiter t.price
              %td{:align => "center"}
                = link_to edit_product_path(t) do
                  %img{:src => "/assets/edit.gif", title: "Sua"}/
                - unless t.id == 36 || t.id == 37
                  = link_to t, method: :delete do
                    %img{:src => "/assets/delete.gif", title: "Xoa"}/
        /   %br/
        /   .paging
        /     .paging-bound
        /       %span> Trang
        /        
        /       %font{:style => "font-weight:bold;"}> 1
        /        
        /       %a{:href => "http://192.168.1.3:8081/?page=product_price&page_no=2&portal=default"}> 2
        /          
        /       %a{:href => "http://192.168.1.3:8081/?page=product_price&page_no=2&portal=default"} Trang tiếp
        / %input{:name => "act", :type => "hidden", :value => ""}/
        / %input{:name => "cmd", :type => "hidden", :value => ""}/
        / %input{:name => "form_block_id", :type => "hidden", :value => "472"}/