#printer.simple-layout-center
  #module_472
    .product-bill-bound 
      %br
      .content
        %fieldset
          %legend.title Sản phẩm, hàng hóa
          %table
            = form_for @product do |f|
              %tbody
                %tr
                  %td{width: "50px"}
                  %td{width: "110px"}
                    = "Tên sản phâm"
                  %td
                    %input{type: "text", name: "product[name]"}
                %tr
                  %td
                  %td
                    = "Danh mục sản phẩm"
                  %td
                    = select_tag :product, options_for_select(@categories), name: "product[category_id]"
                %tr
                  %td
                  %td
                    = "Đơn vị"
                  %td
                    %input{type: "text", name: "product[unit]"}
                %tr
                  %td
                  %td
                    = "Giá"
                  %td{style: "margin-top: 50px"}
                    %input{type: "text", name: "product[price]"}
                %tr
                  %td
                  %td
                  %td{:align => "right"}
                    = f.submit "Save"
