<div class="simple-layout-center" id="printer">
<div id="module_505"><style>
  <!--<!--//IF:cond($this->map['preview'])-->
  <!--@media print{body {display:none;}}-->
  <!--//IF:cond-->-->
  .restaurant-invoice-bound{
    float:left;
    width:400px;
    padding:5px;
  }
  #product_detail{
    border:1px solid #E5E6E7; 
  }
  #product_detail tr{
    border:1px solid #E5E6E7; 
  }
  #product_detail tr td{
    border:1px solid #E5E6E7; 
  }
  #product_detail tr th{
    border:1px solid #E5E6E7; 
  }
</style>
<div style="width:700px;text-align:center; margin:auto !important; border:1px solid silver; padding:5px;">
<div class="restaurant-invoice-bound">
  <div class="item-body">
  <table cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:10px;">
  <tbody><tr>
  
  <td width="1%"><img src="./hóa đơn_files/logo.jpg" width="80px;"></td>
    <td style=" text-align:left; padding-left:50px;">
          <span>HOÀNG CHÂU PALACE</span><br>
            <span>Mã số thuế: 0 1 0 5 8 0 0 8 4 6 </span><br>
            <span>Địa chỉ: Tuần B - Quỳnh Châu - Quỳnh Lưu - Nghệ An</span><br>
            <span>Điện thoại: 0982 382 000</span><br>
        </td>
  
  </tr>
  <tr>
      <td></td>
      <td style=" text-align:center;"><span style="font-size:18px;font-weight:bold;">INVOICE/ HÓA ĐƠN THANH TOÁN</span><br>
      <span style="font-size:11px;">Ngày 01 Tháng 12 Năm 2014</span><br>
    </td>
    </tr>
</tbody></table>
        <table cellpadding="0" cellspacing="0" style="width: 100%; margin: 10px auto;">
            <tbody><tr>
                <td style="text-align: left; font-size: 11px;">Số hóa đơn: LP-011214-3</td>
                <td style="text-align: right; font-size: 11px;">Thu ngân/Cashier: Tamxinh</td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 11px;">Agent/Khách hàng: Mang về</td>
                <td style="text-align: right; font-size: 11px;">Ngày in: 01/12/2014 14:58'</td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 11px;">Bàn/Table No: Bàn 01 (SL Người: 1) &nbsp;</td>
            </tr>
        </tbody></table>
    </div>
  
   <div class="item-body"></div><br>
    <div style="border-bottom:1px solid #E5E6E7"></div>
        <table width="100%" cellspacing="0" border="0" bordercolor="#000000" id="product_detail">
          <tbody><tr>
                                                                   <th width="1%" align="left">STT<br>
            No </th>
            <th width="50%" align="left" style="padding-left:10px;">Diễn giải<br>
            Description </th>
             <th width="10%" align="center">Đơn vị<br>
            Unit</th>
             <th width="8%" align="center">Yêu cầu<br>
            Quantity</th>
                         <th width="8%" align="center">SD<br>
            used</th>
            <th width="10%" align="center">Đơn giá<br>Price</th>
                        <th width="20%" align="center" nowrap="nowrap">Thành tiền<br>
            Amount </th>
          </tr>
                                        <tr valign="top">
            <td>1</td>
            <td align="left"> thạch quy linh<div class="item-body"></div></td>
            <td align="center">Bát</td>
            <td align="center">4</td>
                         <td align="center">4</td>
            <td align="right">10,000</td>
                       <td align="right">40,000</td>
          </tr>
                     
                                  </tbody></table>
      <div style="border-bottom:1px solid #E5E6E7"></div>
      <div class="item-body total-group">
      <div class="item-body">&nbsp;</div>
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tbody><tr>
            <td align="right">
              <table width="350" cellpadding="2" border="0">
              <tbody><tr>
                <td width="80%"><strong>Thành tiền/Amount:</strong><div class="sub-item-body"></div></td>
                <td width="20%" align="right">40,000</td>
              </tr>
                            <tr>
                <td><strong>Giảm giá/Order Discount:</strong><div class="sub-item-body"></div></td>
                <td align="right"> - 0</td>
              </tr>
                             <tr>
                <td><strong>Tổng sau giảm giá:</strong><div class="sub-item-body"></div></td>
                <td align="right">40,000</td>
              </tr>
              <tr>
                <td><strong> (0%)Phí dịch vụ/Service charge: </strong><div class="sub-item-body"></div></td>
                <td align="right"> + 0</td>
              </tr>
              <tr>
                <td><strong>Tổng bao gồm phí dịch vụ:</strong><div class="sub-item-body"></div></td>
                <td align="right">40,000</td>
              </tr>
                            <tr>
                <td><strong>(10%) Thuế/Tax:</strong><div class="sub-item-body"></div></td>
                <td align="right"> + 4,000</td>
              </tr>
              <tr>
                <td><strong>Tổng bao gồm thuế:</strong><div class="sub-item-body"></div></td>
                <td align="right">44,000</td>
              </tr>
              
                                    
              <tr>
                <td nowrap="nowrap" align="left" style="border:1px solid #000;border-right:0px;"><strong>Tổng tiền thanh toán/Grant Total:</strong><div class="sub-item-body"></div></td>
                <td align="right" style="border:1px solid #000;border-left:0px;"><span style="font-size:14px;font-weight:bold;">44,000</span></td>
              </tr>
               <tr>
                <td nowrap="nowrap" align="left"><strong></strong><div class="sub-item-body"></div></td>
                <td align="right"><span style="font-size:12px;font-weight:bold;">$ 44,000</span></td>
              </tr>
                            </tbody></table>
            <div><span><i>(*) Quý khách vui lòng lấy hóa đơn GTGT trong tháng. <br>Cảm ơn Quý khách đã sử dụng dịch vụ tại Hoang Chau Palace!</i></span></div>
            <div style="color:#F00;font-weight:bold;padding-top:10px;font-size:16px;"></div>
          </td>
        </tr>
    </tbody></table>


    </div>
  </div>
</div>
</div>
</div>