%script{:src => "/assets/jquery-1.10.2.js", :type => "text/javascript"}
%script{:src => "/assets/jquery-ui.js", :type => "text/javascript"}
:javascript
  $(function() {
    $(".datepicker").datepicker({ dateFormat: "dd-mm-yy" }).val()
  });
#printer.simple-layout-center
  #module_322
    .report-bound{:style => " page:land;"}
      %table{:cellpadding => "10", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td{:align => "center"}
              %font.report_title CHỌN NGÀY
              %br/
              %table
                %tbody
                  %tr
                    %td Ngày tháng bắt đầu
                    %td
                    %td Ngày tháng kết thúc
                  = form_tag report_revenue_path, method: "get" do
                    %tr
                      %td
                        %input{:type => "text", class: "datepicker", name: "start_date", value: session[:start_date]}
                      %td Đến
                      %td
                        %input{:type => "text", class: "datepicker", name: "to_date", value: session[:to_date]}
                    %tr
                      %td
                      %td
                      %td
                        = submit_tag "Báo cáo doanh thu theo hóa đơn", name: "bill"
                    %tr{colspan: "3"}
                      %td
                      %td
                      %td
                        = submit_tag "Báo cáo doanh thu theo sản phẩm", name: "products"
      - if @orders.present?
        %div{style: "text-align:center"}
          %h3 
            %p BÁO CÁO DOANH THU
            %span Từ ngày 
            %span{style: "color:red"} #{session[:start_date]}
            %span đến ngày 
            %span{style: "color:red"} #{session[:to_date]}
        %br/
        %table.table-bound{:border => "1", :bordercolor => "#CCCCCC", :cellpadding => "5", :cellspacing => "0", :style => "margin: 0 50px 0 50px", :width => "880px"}
          %tbody
            %tr{:bgcolor => "#EFEFEF", :valign => "middle"}
              %th{:align => "center"} STT
              %th.report_table_header{:align => "center"} Xem chi tiết
              %th.report_table_header{:align => "center"} Ngày
              %th.report_table_header{:align => "center"} Bàn
              %th.report_table_header{:align => "center"} Người tạo
              %th.report_table_header{:align => "center"} Tổng tiền
              %th.report_table_header{:align => "center"} Delete
            - total = 0
            - @orders.each do |t|
              - table = Quanly.where(id: t.quanly_id).first
              - user = User.where(id: t.user_id).first
              %tr{:bgcolor => "white"}
                %td{:align => "center"}= t.id
                %td
                  = link_to "Xem chi tiết", report_bill_path(id: t.id), target: "_blank"
                %td.report_table_column{:align => "center", :nowrap => ""}= t.created_at.to_date
                %td.report_table_column{:align => "left", :nowrap => ""}= table.name
                %td.report_table_column{:align => "center", :nowrap => ""}= user.name
                %td.report_table_column{:align => "right", :nowrap => ""}
                  = number_with_delimiter(t.final_total)
                  - total = total + t.final_total.to_i
                %td.report_table_column{:align => "right", :nowrap => ""}
                  = link_to "Delete", delete_order_path(t.id)
            %tr{:bgcolor => "white"}
              %td{:align => "center", :colspan => "5"}
                %strong Tổng
              %td.report_table_column{:align => "right", :nowrap => ""}
                %strong
                  = number_with_delimiter total
      - elsif @products.present?
        %div{style: "text-align:center"}
          %h3 
            %p BÁO CÁO DOANH THU THEO SẢN PHẨM
            %span Từ ngày 
            %span{style: "color:red"} #{session[:start_date]}
            %span đến ngày 
            %span{style: "color:red"} #{session[:to_date]}
        %br/
        %table.table-bound{:border => "1", :bordercolor => "#CCCCCC", :cellpadding => "5", :cellspacing => "0", :style => "margin: 0 50px 0 50px", :width => "880px"}
          %tbody
            %tr{:bgcolor => "#EFEFEF", :valign => "middle"}
              %th{:align => "center"} STT
              %th.report_table_header{:align => "center"} Tên sản phẩm
              %th.report_table_header{:align => "center"} Số lượng đã bán
              %th.report_table_header{:align => "center"} Giá
              %th.report_table_header{:align => "center"} Tổng
            - total = 0
            - @products.each do |t|
              %tr
                %td.report_table_column{:align => "center", :nowrap => ""}= t.id
                %td.report_table_column{:align => "left", :nowrap => ""}= t.name
                %td.report_table_column{:align => "right", :nowrap => ""}
                  - if t.id == 36 || t.id == 37
                    - a = (t.stock_sold * 60).divmod(60)[0]
                    - b = (t.stock_sold * 60).divmod(60)[1].round
                    = "#{a} Tiếng #{b} Phút"
                  - else
                    = t.stock_sold
                %td.report_table_column{:align => "right", :nowrap => ""}= number_with_delimiter t.price
                %td.report_table_column{:align => "right", :nowrap => ""}
                  = number_with_delimiter (t.price.to_i * t.stock_sold).round(-3)
                  - total = total + t.price.to_i * t.stock_sold
            %tr{:bgcolor => "white"}
              %td{:align => "center", :colspan => "4"}
                %strong Tổng
              %td.report_table_column{:align => "right", :nowrap => ""}
                %strong
                  = number_with_delimiter total.round
      - elsif @nodata.present?
        %p{style: "text-align: center; color:red"}
          %strong "Không có dữ liệu!"