%li.menumain{:style => "float:right;list-style-type: none;"}
  %a{:onclick => "window.print();return false;", :title => "In"}
    %img{:height => "20", :src => "/assets/printer.png"}/
  %ul{:style => "display: none;"}
#printer.simple-layout-center
  #module_505
    :css
      / <!--//IF:cond($this->map['preview'])
      / @media print{body {display:none;}}
      / //IF:cond
      \-->
      .restaurant-invoice-bound{
        float:left;
        width:400px;
        padding:5px;
      }
      #product_detail{
        border:1px solid #E5E6E7; 
      }
      #product_detail tr{
        border:1px solid #E5E6E7; 
      }
      #product_detail tr td{
        border:1px solid #E5E6E7; 
      }
      #product_detail tr th{
        border:1px solid #E5E6E7; 
      }
    %div{:style => "width:700px;text-align:center; margin:auto !important; border:1px solid silver; padding:5px;"}
      .restaurant-invoice-bound
        .item-body
          %table{:cellpadding => "0", :cellspacing => "0", :style => "margin-bottom:10px;", :width => "100%"}
            %tbody
              %tr
                %td{:width => "1%"}
                  %img{:src => "/assets/hoa_don.png", :width => "80px;"}/
                %td{:style => " text-align:left; padding-left:50px;"}
                  %span HOÀNG CHÂU PALACE
                  %br/
                  %span Địa chỉ: Tuần B - Quỳnh Châu - Quỳnh Lưu - Nghệ An
                  %br/
                  %span Điện thoại: 0967 938 998
                  %br/
              %tr
                %td
                %td{:style => " text-align:center;"}
                  %span{:style => "font-size:18px;font-weight:bold;"} HÓA ĐƠN THANH TOÁN
                  %br/
                  %span{:style => "font-size:11px;"} Ngày 01 Tháng 12 Năm 2014
                  %br/
          %table{:cellpadding => "0", :cellspacing => "0", :style => "width: 100%; margin: 10px auto;"}
            %tbody
              %tr
                %td{:style => "text-align: left; font-size: 11px;"} Số hóa đơn: LP-011214-3
                %td{:style => "text-align: right; font-size: 11px;"} Thu ngân/Cashier: Tamxinh
              %tr
                %td{:style => "text-align: left; font-size: 11px;"} Agent/Khách hàng: Mang về
                %td{:style => "text-align: right; font-size: 11px;"} Ngày in: 01/12/2014 14:58'
              %tr
                %td{:style => "text-align: left; font-size: 11px;"} Bàn/Table No: Bàn 01 (SL Người: 1) &nbsp;
        .item-body
        %br/
        %div{:style => "border-bottom:1px solid #E5E6E7"}
        %table#product_detail{:border => "0", :bordercolor => "#000000", :cellspacing => "0", :width => "100%"}
          %tbody
            %tr
              %th{:align => "left", :width => "1%"}
                STT
              %th{:align => "left", :style => "padding-left:10px;", :width => "50%"}
                Diễn giải
              %th{:align => "center", :width => "10%"}
                Đơn vị
              %th{:align => "center", :width => "8%"}
                Yêu cầu
              %th{:align => "center", :width => "8%"}
                SD
              %th{:align => "center", :width => "10%"}
                Đơn giá
              %th{:align => "center", :nowrap => "nowrap", :width => "20%"}
                Thành tiền
            - i = 1
            - @bills.each do |t|
              - @product = Product.where(id: t.product_id).first
              %tr{:valign => "top"}
                %td
                  = i
                  - i = i + 1
                %td{:align => "left"}
                  = @product.name
                  .item-body
                %td{:align => "center"}
                  = @product.unit
                %td{:align => "center"}
                  = t.quantity
                %td{:align => "center"}
                  = t.quantity
                %td{:align => "right"}
                  = number_with_delimiter @product.price
                %td{:align => "right"}
                  = number_with_delimiter t.total_price
        %div{:style => "border-bottom:1px solid #E5E6E7"}
        .item-body.total-group
          .item-body &nbsp;
          %table{:border => "0", :cellpadding => "2", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr
                %td{:align => "right"}
                  %table{:border => "0", :cellpadding => "2", :width => "350"}
                    %tbody
                      %tr
                        %td{:width => "80%"}
                          %strong Thành tiền/Amount:
                          .sub-item-body
                        %td{:align => "right", :width => "20%"} 40,000
                      %tr
                        %td
                          %strong Giảm giá/Order Discount:
                          .sub-item-body
                        %td{:align => "right"} - 0
                      %tr
                        %td
                          %strong Tổng sau giảm giá:
                          .sub-item-body
                        %td{:align => "right"} 40,000
                      %tr
                        %td
                          %strong (10%) Thuế/Tax:
                          .sub-item-body
                        %td{:align => "right"} + 4,000
                      %tr
                        %td
                          %strong Tổng bao gồm thuế:
                          .sub-item-body
                        %td{:align => "right"} 44,000
                      %tr
                        %td{:align => "left", :nowrap => "nowrap", :style => "border:1px solid #000;border-right:0px;"}
                          %strong Tổng tiền thanh toán/Grant Total:
                          .sub-item-body
                        %td{:align => "right", :style => "border:1px solid #000;border-left:0px;"}
                          %span{:style => "font-size:14px;font-weight:bold;"}
                            = number_with_delimiter @order.total_price
                  %div
                    %span
                      %i
                        (*) Quý khách vui lòng lấy hóa đơn GTGT trong tháng.
                        = succeed "C\u{1ea3}m" do
                          %br/
                        ơn Quý khách đã sử dụng dịch vụ tại Hoang Chau Palace!
                  %div{:style => "color:#F00;font-weight:bold;padding-top:10px;font-size:16px;"}
