#module_505
  :css
    / <!--//IF:cond($this->map['preview'])
    / @media print{body {display:none;}}
    / //IF:cond
    \-->
    .restaurant-invoice-bound{
      float:left;
      width:400px;
      padding:5px;
    }
    #product_detail{
      border:1px solid #E5E6E7; 
    }
    #product_detail tr{
      border:1px solid #E5E6E7; 
    }
    #product_detail tr td{
      border:1px solid #E5E6E7; 
    }
    #product_detail tr th{
      border:1px solid #E5E6E7; 
    }
  %div{:style => "width:369px;text-align:center; margin:auto !important; border:1px solid silver; padding:5px; font-size: 14px"}
    .restaurant-invoice-bound
      %li.menumain{:style => "float:right;list-style-type: none;"}
        %a{:onclick => "window.print();return false;", :title => "In"}
          %img{:height => "20", :src => "/assets/printer.png"}/
        %ul{:style => "display: none;"}
      .item-body
        %table{:style => "margin-bottom:10px;font: Courier 10 Pitch", :width => "100%"}
          %tbody
            %tr
              %td{:width => "1%"}
                %img{:src => "/assets/hoa_don.png", :width => "80px;"}/
              %td{:style => " text-align:left; padding-left:10px;"}
                %span{:style => "font-size:18px;font-weight:bold;"} HOÀNG CHÂU PALACE
                %br/
                %span Địa chỉ: Tuần B - Quỳnh Châu - Quỳnh Lưu - Nghệ An
                %br/
                %span Điện thoại: 0967 938 998
                %br/
            %tr
              %td{colspan: "2", align: "left"}
                %strong
                  %i
                    %u Chuyên:
                  %p{style: "margin: auto"}
                    %span{style: "font-size:13px"}
                      = "- Nhà hàng đặc sản rừng - biển, tiệc cưới, tổ chức sự kiện"
                      %br{style: "float: left"}
                        = "- Karaoke, cafe"
            %tr
              %td{align: "center", colspan: "2"}
                %span{:style => "font-weight:bold;"} HÓA ĐƠN THANH TOÁN
                %br/
                %span
                  = DateTime.now.to_date.strftime("Ngày %d Tháng %m Năm %Y")
                %br/
                - if current_order.quanly.karaoke == true
                  %span{:style => "font-size:11px;"}
                    = "Từ #{current_order.giovao} đến #{current_order.giora}"
                  %br/
       
      .item-body
      %br/
      %div{:style => "border-bottom:1px solid #E5E6E7"}
      %table#product_detail{:width => "100%"}
        %tbody
          %tr
            %th{:align => "left", :width => "1%"}
              STT
            %th{:align => "left", :style => "padding-left:10px;", :width => "20%"}
              Diễn giải
            %th{:align => "center", :width => "15%"}
              Sử dụng
            %th{:align => "center", :width => "10%"}
              Đơn giá
            %th{:align => "center", :nowrap => "nowrap", :width => "20%"}
              Thành tiền
          - i = 1
          - @bills.each do |t|
            - product = Product.where(id: t.product_id).first
            %tr{:valign => "top"}
              %td
                = i
                - i = i + 1
              %td{:align => "left"}
                = product.name
                .item-body
              %td{:align => "right"}
                - if product.id == 36 || product.id == 37
                  - a = (t.quantity * 60 ).divmod(60)[0]
                  - b = (t.quantity * 60 ).divmod(60)[1].round
                  = "#{a} giờ #{b} '"
                - elsif t.quantity.divmod(1)[0] == t.quantity
                  = t.quantity.round
                - else
                  = t.quantity
              %td{:align => "right"}
                = number_with_delimiter product.price
              %td{:align => "right"}
                = number_with_delimiter t.total_price.round
      %div{:style => "border-bottom:1px solid #E5E6E7"}
      .item-body.total-group
        .item-body &nbsp;
        %table{:border => "0", :cellpadding => "2", :cellspacing => "0", :width => "100%"}
          %tbody
            %tr
              %td{:align => "right"}
                %table{:border => "0", :cellpadding => "2", :width => "350"}
                  %tbody
                    - if @order.tax != 0 || @order.sale_off != 0
                      %tr
                        %td{:width => "80%"}
                          %strong Thành tiền:
                          .sub-item-body
                        %td{:align => "right", :width => "20%"}
                          = number_with_delimiter @order.total_price.round
                    - if @order.sale_off != 0
                      %tr
                        %td
                          %strong Giảm giá/Order Discount:
                          .sub-item-body
                        %td{:align => "right"}
                          = "- #{number_with_delimiter (@order.total_price * @order.sale_off / 100).round}"
                      %tr
                        %td
                          %strong Tổng sau giảm giá:
                          .sub-item-body
                        %td{:align => "right"}
                          = number_with_delimiter @order.after_sale_off.round
                    - if @order.tax != 0
                      %tr
                        %td
                          %strong (10%) Thuế/Tax:
                          .sub-item-body
                        %td{:align => "right"}
                          = "+ #{number_with_delimiter (@order.after_sale_off * @order.tax / 100).round}"
                      %tr
                        %td
                          %strong Tổng bao gồm thuế:
                          .sub-item-body
                        %td{:align => "right"}
                          = number_with_delimiter @order.final_total
                    %tr
                      %td{:align => "left", :nowrap => "nowrap", :style => "border:1px solid #000;border-right:0px;"}
                        %strong Tổng tiền thanh toán/Grant Total:
                        .sub-item-body
                      %td{:align => "right", :style => "border:1px solid #000;border-left:0px;"}
                        %span{:style => "font-size:14px;font-weight:bold;"}
                          = number_with_delimiter @order.final_total
          / %tr
          /   %td{colspan: "5", :align => "center"}
          /     %strong Tổng
          /   %td{:align => "right"}
          /     %strong
          /       = number_with_delimiter current_order.final_total.round
      %p
        %center
          %strong
            Cảm ơn Quý khách đã sử dụng dịch vụ tại Hoàng Châu Palace!