#printer.simple-layout-center
  #module_322
    .report-bound{:style => " page:land;"}
      %div{style: "text-align: center; margin: 20px 0 20px 0"}
        %strong
          = "BÁO CÁO DOANH THU THEO SẢN PHẨM"
      %table.table-bound{:border => "1", :bordercolor => "#CCCCCC", :cellpadding => "5", :cellspacing => "0", :style => "margin: 0 50px 0 50px", :width => "880px"}
        %tbody
          %tr{:bgcolor => "#EFEFEF", :valign => "middle"}
            %th{:align => "center"} STT
            %th.report_table_header{:align => "center"} Tên sản phẩm
            %th.report_table_header{:align => "center"} Số lượng đã bán
            %th.report_table_header{:align => "center"} Giá
            %th.report_table_header{:align => "center"} Tổng
          - total = 0
          - @products.each do |t|
            %tr
              %td.report_table_column{:align => "center", :nowrap => ""}= t.id
              %td.report_table_column{:align => "left", :nowrap => ""}= t.name
              %td.report_table_column{:align => "right", :nowrap => ""}
                - if t.id == 36 || t.id == 37
                  - a = (t.stock_sold * 60).divmod(60)[0]
                  - b = (t.stock_sold * 60).divmod(60)[1].round
                  = "#{a}:#{b}"
                - else
                  = t.stock_sold
              %td.report_table_column{:align => "right", :nowrap => ""}= number_with_delimiter t.price
              %td.report_table_column{:align => "right", :nowrap => ""}
                = number_with_delimiter (t.price.to_i * t.stock_sold).round(-3)
                - total = total + t.price.to_i * t.stock_sold
          %tr{:bgcolor => "white"}
            %td{:align => "center", :colspan => "4"}
              %strong Tổng
            %td.report_table_column{:align => "right", :nowrap => ""}
              %strong
                = number_with_delimiter total.round