!!!
%html
  %head
    %title Hoàng Châu Palace
    - if current_user
      = stylesheet_link_tag    "application", :media => "all"
      = javascript_include_tag "application"
    - else
      = stylesheet_link_tag    "/assets/login/style.css"
    = csrf_meta_tags
  %body
    - if params[:action] == "report_bill" || params[:action] == "detail"
      = yield
    - else
      .simple-layout-bound
        .simple-layout-middle
          .simple-layout-content
            - if current_user
              = render 'layouts/shared/header'
            = yield